li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
#uneaten_Burgers
{
    background-color: rgb(71,124,184);
    text-align: center;
}

#eaten_Burgers
{
    background-color: rgb(71,124,184);
    text-align: center;
}

body
{
    background-color: rgb(24,175,230) !important;
}